/** Variables */
$c-blue-1: #072235;
$c-blue-2: #213745;
$c-blue-3: #00C2F4;
$c-blue-4: #62CBDE;
$c-gray-1: #495c67;
$c-green-1: #0C4A22;
$c-green-2: #4DCC00;
$c-green-3: #81CE99;
$c-orange-1: #FFA616;
$c-purple-1: #4E5CA5;
$c-purple-2: #7B598E;
$c-red-1: #CD1F44;
$c-white-1: #EFEFEF;
$c-yellow-1: #F2ECB8;

/** Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$f-comfortaa-sans: 'Comfortaa';
$f-plex-mono: 'IBM Plex Mono', monospace;
$f-plex-sans-cond: 'IBM Plex Sans Condensed', sans-serif;
$f-plex-sans: 'IBM Plex Sans', sans-serif;
$f-plex-serif: 'IBM Plex Serif', serif;
$f-rubik-sans: 'Rubik', sans-serif;
$f-system-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

/** Animations */
@keyframes scatter {
    0% {
        top: 0;
    }
    50% {
        top: -.25em;
        transform: scale(1.1) perspective(500px) translate3d(-100px, 10px, -300px);
        opacity: .5;
    }
    100% {
        top: 0;
    }
}

@keyframes fadeDown {
    0% {
        top: 0;
    }
    100% {
        top: -.25em;
        transform: scale(1.1) perspective(500px) translate3d(0px, 10px, -100px);
        opacity: .5;
    }
}


// Fun fact: root == html but more specific
:root {
    --legacy-gray-1: #{$c-gray-1};
    --legacy-green-1: #{$c-green-1};
}


::selection {
    background: rgba($c-red-1, 1);
}


html,
body {
    background: $c-blue-1;
    border: 0;
    box-sizing: border-box;
    color: $c-white-1;
    cursor: default;
    font: normal 110%/1.55 $f-plex-sans;
    margin: 0;
    padding: 0;
}

*, *:before, *:after { box-sizing: inherit; }

a, h1, h2, h3, h4, h5, h6 {
    color: $c-green-2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $f-comfortaa-sans;
    font-weight: 900;
}

a {
    display: inline-block;
    position: relative;
    transform-origin: center;

    &:hover {
        color: $c-yellow-1;
    }

    &:active {
        animation: fadeDown 0.25s forwards;
    }

    &:focus {
        border-radius: 2px;
        outline-offset: 0.25em;
        outline: 3px solid $c-red-1;
        text-decoration: none;
    }
}

hr {
    border-radius: 4px;
    border: 2px solid $c-green-2;
}


.global-header,
.global-footer {
    background: darken($c-blue-1, 5);
    display: flex;

    > * {
        flex: 1 0 auto;
        margin: 0;
    }

    a {
        font-size: 1rem;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        margin: 0;

        &:hover {
            background: $c-blue-1;
        }

        &:focus {
            outline-offset: -3px;
        }
    }

    .brand {
        display: flex;
        transform-origin: center;

        a {
            $value: ();
            @for $i from 1 through 20 {
                $num: ($i * 1) + px;
                $pct: $i / 100;
                $black: (0.45 - $pct) / 2.5;

                $shadow: $num $num $i + px rgba($c-green-1, $black);
                $value: append($value, $shadow, comma)
            }
            @for $i from 1 through 20 {
                $num: ($i * -1) + px;
                $pct: $i / 100;
                $black: (0.45 - $pct) / 2.5;

                $shadow: $num $num $i + px rgba($c-green-1, $black);
                $value: append($value, $shadow, comma)
            }

            text-shadow: $value;
        }
    }
}

.global-footer {
    text-align: right;
    padding-right: 1rem;
}

.global-main {
    // Use a min-height instead of grid/fixed so mobile
    // folks don't have a perma-footer to deal with.
    // TODO: height from elsewhere; this is bogus
    min-height: calc(100vh - #{(63 * 2) + px});
    padding: 2rem;

    > *:first-child { margin-top: 0 !important; }
    > *:last-child { margin-bottom: 0 !important; }
}

.section-block {
    margin: 2em auto;
    max-width: 48em;
    padding: 1.5em 2em;
    width: 80%;
}
.section-block > *:first-child {
    margin-top: 0;
}
.section-block > *:last-child {
    margin-bottom: 0;
}

.highlight {
    border: 3px solid $c-blue-2;
    border-radius: 3px;
}

// TODO: something like...
// https://dev.to/sobhandash/lets-build-a-night-sky-using-pure-scss-2g0n
