/** Variables */
$c-gray-1: #495c67;
$c-green-1: #90bd9c;
$c-white-1: #fff;


// Fun fact: root == html but more specific
:root {
  --legacy-gray-1: #{$c-gray-1};
  --legacy-green-1: #{$c-green-1};
}

html,
body {
  background: $c-gray-1;
  border: 0;
  box-sizing: border-box;
  color: $c-white-1;
  font: normal 100%/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.global-header,
.global-footer {
  margin: 2em;
  text-align: center;
}

.section-block {
  background: rgba(255, 255, 255, 0.1);
  margin: 2em auto;
  max-width: 48em;
  padding: 1.5em 2em;
  width: 80%;
}
.section-block > *:first-child {
  margin-top: 0;
}
.section-block > *:last-child {
  margin-bottom: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--legacy-green-1);
}
